body {
  font: 400 15px Lato, sans-serif;
  line-height: 1.8;
  background-color: #263859;
}
.bg-green {
  background-color: #399; /* Green */
  color: #fff; /* white text */
}
.bg-darkblue {
  background-color: #474e5d; /* dark blue */
  color: #f6f6f6; /* light gray text */
}
.bg-nightblue {
  background-color: #263859; /* blue */
  color: #f6f6f6; /* light gray text */
}
.bg-nightblue legend {
  color: #f6f6f6; /* light gray text */
}
.bg-blue {
  background-color: #96abcf; /* blue */
  color: #f6f6f6; /* light gray text */
}
.bg-lightblue {
  background-color: #eff2f6; /* light blue */
  color: #263859; /* dark blue text */
}
.bg-light {
  background-color: #f6f6f6; /* light grey */
  color: #555; /* gray text */
}
.bg-white {
  background-color: #fff; /* white */
  color: #555; /* gray text */
}
.logo {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}
.flag {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 16px;
  height: 11px;
  background-image: url(view/img/flags/fr.png);
}
p {
  font-size: 16px;
}
h3 {
  font-size: 21px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 30px;
}
.margin {
  margin-bottom: 45px;
}
.container-fluid {
  padding-top: 120px;
  padding-bottom: 120px;
}
.container-fluid .navbar {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0;
  margin-bottom: 0;
}
.navbar {
  background-color: #263859;
  z-index: 9999;
  padding-top: 0px;
  padding-bottom: 0px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  letter-spacing: 2px;
  font-size: 12px !important;
  font-family: Montserrat, sans-serif;
  line-height: 1.42857143 !important;
}
.navbar li a, .navbar .navbar-brand {
  color: #f6f6f6 !important;
}
.navbar-brand > img {
  display: inline
}
.navbar-nav li a:hover, .navbar-nav li.active a {
  background-color: #eff2f6 !important;
  color: #263859 !important;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #f6f6f6 !important;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #f6f6f6;
}
/* Dropdown */
.open .dropdown-toggle {
  color: #263859 !important;
  background-color: #eff2f6 !important;
}
/* Dropdown links */
.dropdown-menu li a {
  color: #263859 !important;
  background-color: #eff2f6 !important;
}
/* On hover, dropdown links */
.dropdown-menu li a:hover {
  color: #eff2f6 !important;
  background-color: #3d5a8f !important;
}
.topbar {
  padding-top: 70px;
  padding-bottom: 0;
}
footer a {
  color: #fff;
}
footer a:hover {
  color: #9cf;
}
footer p {
  margin-top:30px;
  margin-bottom: 10px;
  font-size: 12px;
  font-family: Montserrat, sans-serif;
  line-height: 1.42857143;
}
footer .logo {
  font-size:80px;
}
.social-media {
  margin-top:15px;
  margin-bottom: 20px;
  font-size:2.3em;
}
.scrollup {
  width:40px;
  height:40px;
  opacity:.3;
  position:fixed;
  bottom:50px;
  right:15px;
  display:none;
  text-indent:-9999px;
}
.scrollup:focus {
  outline:none;
}
